.container {
    height: 100vh;
    background-color: rgb(250 250 250);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    border: 1px rgba(159, 159, 160, 0.007) solid;
    border-radius: 1rem;
}

.container_icone {
    align-self: start;
}

.icone {
    margin: 0px 5px;
    border: 1px solid #2294c9;
    color: #2294c9;
    border-radius: 50%;
    padding: .5em;
}

.icone:hover,
.container_icone:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 500ms transform;
}
.container_h1{
    font-size: 2.5em;
    margin: 0px;
  }
  .container_info {
    border: 1px solid #2294c9;
    border-radius: 0.5rem;
    
  }
.link {
    color: black;
}

.link:hover {
    color: black;
    cursor: pointer;
}
.form {
    width: 100%;
}
.form-div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: 2rem;
}

.form-div_label {
    font-weight: bold;
    text-align: left;
}

.form-div_input {
    border-width: 1px;
    border-color: rgb(228 228 231);
    border-radius: 0.25rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    height: 2.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.erro {
    color: red;
    text-align: left;
}